body {
  background-color: rgb(151, 151, 151);
  max-width: 960px;
  padding: 50px;
  margin: auto 80px;
}

img {
  height: 150px;
  width: 100px;
}

h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  background: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.fav-btn {
  width: 90px;
  height: 40px;
  background: pink;
  border-radius: 10px;
}

.fav{
  background-color: rgb(231, 101, 101);
}